html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.overlay {
    display: none;
    transition: all 0.5s;
    background: #b5aaa6;
    opacity: 0.75;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.modal-dialog {
    opacity: 0;
    position: absolute;
    z-index: -1;
    padding: 5vh 0;
    top: 20vh;
    left: 30vw;
    height: 60vh;
    width: 40vw;
    background: #fff;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.modal-content__close-btn {
    height: 10px;
    width: 10px;
    position: absolute;
    top: -4vh;
    right: 5px;
}

.modal-content__close-btn:hover {
    cursor: pointer;
}

.modal-content__caption {
    padding: 5px 0;
    font-weight: 700;
    font-size: 18px;
}

.modal-content__btn {
    color: #fff;
    background: #215ee0;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
}

.modal-content__btn:hover{
    cursor: pointer;
}

.main {
    background: #85a5d4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__panel {
    width: 80vw;
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #828180 3px 3px 20px 0;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    background: #e6e4e3;
    cursor: pointer;
}

.card__img img, #modal-img {
    min-height: 15vh;
}

.card__caption, .modal-content__tarif-caption {
    text-transform: uppercase;
    color: #5572d6;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
    letter-spacing: 2px;
}

.card__description, .modal-content__tarif-description {
    text-align: center;
    padding: 20px;
    color: #b5aaa6;
}

.card__price, .modal-content__tarif-price{
    font-size: 36px;
    color: #5572d6;
    font-weight: 700;
    padding-bottom: 20px;
}

.card__price::before, .modal-content__tarif-price::before {
    content: '$ ';
    font-size: 18px;
    color: #5572d6;
    vertical-align: super;
}

.card__price::after, .modal-content__tarif-price::after {
    content: ' / month';
    font-size: 18px;
    color: #5572d6;
}

@media all and (max-width: 720px) {
    .main__panel {
        flex-wrap: wrap;
        display: block;
    }

    .modal-dialog {
        top: 5vh;
        left: 10vw;
        height: 60vh;
        width: 80vw;
    }
}